* {
  text-align: center;
  /* background-image: url("background.jpg"); */
}

.tasks {
  display: flex;
  flex-direction: column;
}

.very-low {
  background-color: lightgray;
}

.low {
  background-color: gray;
}

.normal {
  background-color: white;
}

.high {
  background-color: rgb(219, 125, 125);
}

.very-high {
  background-color: tomato;
}

.ticked {
  color: rgb(9, 59, 59);
  text-decoration: line-through;
  background-color: teal;
  font-style: italic;
}
