* {
  transition-duration: 2s;
  text-align: center;
  /* background-image: url("background.jpg"); */
}

.buttons {
  padding: 4px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  background-color: #38c065;
  color: white;
  height: 25px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition-duration: 0.3s;
}

#add-button:hover {
  background-color: #1f5340;
  transition-duration: 0.3s;
  cursor: grab;
}

.secondary-buttons {
  padding: 4px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  background-color: #2b9eeb;
  color: white;
  height: 25px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition-duration: 0.3s;
}

.secondary-buttons:hover {
  background-color: #206897;
  transition-duration: 0.3s;
  cursor: grab;
}

#dark-mode {
  box-shadow: 0px 4px #0f4163;
}

#dark-mode:hover {
  transform: translateY(3px);
  box-shadow: 0px 1px #0f4163;
}

.edit-button {
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;

  transition-duration: 0.4s;
  cursor: pointer;
  background-color: lightgreen;
  color: black;
  border: 2px solid #f44336;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.edit-button:hover {
  background-color: #f44336;
  transition-duration: 0.3s;
  color: white;
}

.remove-button {
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;

  cursor: pointer;
  background-color: lightgreen;
  color: black;
  border: 2px solid #f44336;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.remove-button:hover {
  background-color: #f44336;
  transition-duration: 0.3s;
  color: white;
}

.todo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 5px 40px; */
  background-color: lightgreen;
  /* margin: 3px 350px; */
  border-color: lightslategray;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
}

.todo-created-at {
  padding: 0px 5px;
}

.todo-priority {
  height: 50%;
  width: 5%;
  border-radius: 50%;
}

.todo-text {
  padding: 0px 5px;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.very-low {
  background-color: lightgray;
}

.low {
  background-color: gray;
}

.normal {
  background-color: white;
}

.high {
  background-color: rgb(219, 125, 125);
}

.very-high {
  background-color: tomato;
}

.ticked {
  color: rgb(9, 59, 59);
  text-decoration: line-through;
  /* background-color: teal; */
  font-style: italic;
}

/* background effects */
html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgb(1, 153, 255) 50%,
    rgb(89, 103, 112) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.hidedebug {
  visibility: hidden;
}
